{% extends 'base.html.twig' %}

{% block title %}
    Changement mot de passe |
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="grid grid-center grid-gap-40 m-h">
        <h1>Changer de mot de passe</h1>

        <section class="grid grid-gap-40 add-article bg-white">
            {{ include('profil/include/_update_password.html.twig') }}
        </section>
    </main>
{% endblock %}
