.grid {
  display: grid;

  &-gap-10 {
    grid-gap: 1rem;
  }

  &-gap-20 {
    grid-gap: 2rem;
  }

  &-gap-40 {
    grid-gap: 4rem;
  }

  &-title {
    grid-column: 1 / 4;
  }

  &-center {
    justify-content: center;
  }

  &-admin {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 0 4rem;
    grid-gap: 2rem;
  }
}