{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Ajouter un article{% endblock %}

{% block content %}
    <main class="grid grid-center grid-gap-40 m-h">
        <h1 class="mb-4">Ajouter un article</h1>
        <section class="grid grid-gap-40 add-article bg-white">
            {% include "includes/article_form.html.twig" %}
        </section>
    </main>
{% endblock %}