{% extends "base.html.twig" %}

{% block title %}
    Modifier  un article |
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="grid grid-center grid-gap-40 m-h">
        <h1 class="mb-4">Modifier un article</h1>
        <section class="grid grid-gap-40 add-article bg-white">
            {% if article.thumb is not null %}
                <img width="300" src="{{ asset('uploads/' ~ article.thumb) }}" alt="image">
            {% endif %}
            {% include "includes/article_form.html.twig" %}
        </section>
    </main>
{% endblock %}