{% extends 'base.html.twig' %}

{% block title %}
    Nouvel utilisateur |
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="grid grid-center grid-gap-40 m-h">
        <h1>Créer nouvel utilisateur</h1>

        <section class="grid grid-gap-40 add-article bg-white">
            {{ include('user/_form.html.twig') }}
        </section>
    </main>
{% endblock %}
